body {
    font-size: 18px;
    background-color: #000;
    overflow-x: hidden;
}

#header {
    background-color: #FFF;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margins: 0;
    padding: 0;
    width: 100%;
}

#title {
    font-family: 'Iceland', cursive;
    font-size: 48px;
    font-weight: bold;
    color: #000;
    padding-left: 3%;
}

#navBar {
    font-family: 'Prosto One', cursive;
    font-size: 18px;
    font-size: calc(0.5vw + 1vh);
    font-weight: bold;
    color: black;
    align-items: center;
    padding-right:30px;
}

a:link {
    color: #000;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #000;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}

.display-inline {
    display: inline;
}

.display-flex {
    display: flex;
    margin: auto;
}

.content-panel {
    margin-top: 100px;
}

.content-header {
    font-family: 'Iceland', cursive;
    font-size: 96px;
    margin-bottom: 10px;
    color: #FFF;
}

.content-body {
    font-family: 'Iceland', cursive;
    font-size: 24px;
}

.content-img {
    object-fit: contain;
    opacity: 0.7;
    height: 100%;
    border-radius: 10%;
}

@keyframes bodyText {
    0% {color:transparent; left:-50px;}
    100% {color:#FFF; left:0px;}
}

#aboutBody {
    animation-name: bodyText;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 2s;
}

#smTitle {
    font-family: 'Iceland', cursive;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    padding-left: 3%;
}
