#planetcontainer {
	position: fixed;
	margin: auto;
	width: 100%;
	height: 90%;
}

#sun {
	position: absolute;
	top: calc(50% - 36px);
	left: calc(50% - 36px);
	border-radius: 100%;
	border-width: 8px;
	border-style: solid;
	border-color: #ff880a;
	background-color: #f9f500;
	width: 60px;
	height: 60px;
	animation: sunspots 5s 0s infinite normal;
}


@keyframes orbit {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(1170000deg);
	}
}

#mercuryOrbit {
	position: absolute;
	top: calc(50% - 70px);
	left: calc(50% - 70px);
	border-radius: 100%;
	border-width: 2px;
	border-color: #FFFFFF;
	width: 140px;
	height: 140px;
	animation: orbit 10000s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#mercury {
	position: relative;
	left: calc(100% - 10px/2);
	top: calc(50% - 10px/2);
	width: 8px;
	height: 8px;
	background-color: #d6ae48;
	border-radius: 100%;
	border-width: 2px;
	border-color: #000;
	border-style: solid;
}

#venusOrbit {
	position: absolute;
	top: calc(50% - 95px);
	left: calc(50% - 95px);
	border-radius: 100%;
	border-width: 2px;
	border-color: #FFFFFF;
	width: 190px;
	height: 190px;
	animation: orbit 30000s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#venus {
	position: relative;
	left: calc(100% - 16px/2);
	top: calc(50% - 16px/2);
	width: 14px;
	height: 14px;
	background-color: #ff7b00;
	border-radius: 100%;
	border-width: 2px;
	border-color: #aa3000;
	border-style: solid;
}

#earthOrbit {
	position: absolute;
	top: calc(50% - 125px);
	left: calc(50% - 125px);
	border-radius: 100%;
	border-width: 2px;
	border-color: #FFFFFF;
	width: 250px;
	height: 250px;
	animation: orbit 40000s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#earth {
	position: relative;
	left: calc(100% - 16px/2);
	top: calc(50% - 16px/2);
	width: 12px;
	height: 12px;
	background-color: #0094ff;
	border-radius: 100%;
	border-width: 4px;
	border-color: #00e225;
	border-style: solid;
}

#marsOrbit {
	position: absolute;
	top: calc(50% - 161px);
	left: calc(50% - 161px);
	border-radius: 100%;
	border-width: 2px;
	border-color: #FFFFFF;
	width: 322px;
	height: 322px;
	animation: orbit 75000s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#mars {
	position: relative;
	left: calc(100% - 12px/2);
	top: calc(50% - 12px/2);
	width: 10px;
	height: 10px;
	background-color: #e84619;
	border-radius: 100%;
	border-width: 2px;
	border-color: #840000;
	border-style: solid;
}

#jupiterOrbit {
	position: absolute;
	top: calc(50% - 238px);
	left: calc(50% - 238px);
	border-radius: 100%;
	border-width: 2px;
	border-color: #FFFFFF;
	width: 476px;
	height: 476px;
	animation: orbit 480000s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#jupiter {
	position: relative;
	left: calc(100% - 56px/2);
	top: calc(50% - 56px/2);
	width: 44px;
	height: 44px;
	background-color: #f4dfab;
	border-radius: 100%;
	border-width: 6px;
	border-color: #8e5000;
	border-style: solid;
}

#saturnOrbit {
	position: absolute;
	top: calc(50% - 328px);
	left: calc(50% - 328px);
	border-radius: 100%;
	border-width: 2px;
	border-color: #FFFFFF;
	width: 656px;
	height: 656px;
	animation: orbit 1160000s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#saturn {
	position: relative;
	left: calc(100% - 40px/2);
	top: calc(50% - 40px/2);
	width: 32px;
	height: 32px;
	background-color: #efe383;
	border-radius: 100%;
	border-width: 4px;
	border-color: #af7801;
	border-style: solid;
}

#uranusOrbit {
	position: absolute;
	top: calc(50% - 448px);
	left: calc(50% - 448px);
	border-radius: 100%;
	border-radius: 100%;
	border-width: 2px;
	border-color: #FFFFFF;
	width: 896px;
	height: 896px;
	animation: orbit 3360000s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#uranus {
	position: relative;
	left: calc(100% - 40px/2);
	top: calc(50% - 40px/2);
	width: 32px;
	height: 32px;
	background-color: #e0faff;
	border-radius: 100%;
	border-width: 4px;
	border-color: #09cbed;
	border-style: solid;
}


#neptuneOrbit {
	position: absolute;
	top: calc(50% - 608px);
	left: calc(50% - 608px);
	border-radius: 100%;
	border-width: 1px;
	border-color: #FFFFFF;
	width: 1216px;
	height: 1216px;
	animation: orbit 6600000s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#neptune {
	position: relative;
	left: calc(100% - 36px/2);
	top: calc(50% - 36px/2);
	width: 32px;
	height: 32px;
	background-color: #5ccbe0;
	border-radius: 100%;
	border-width: 2px;
	border-color: #006fa3;
	border-style: solid;
}

#moonOrbit {
	position: relative;
	left: -14px;
	top: -14px;
	width: calc(100% + 26px);
	height: calc(100% + 26px);
	border-radius: 100%;
	animation: orbit 2500s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#moon {
	position: relative;
	left: calc(100% - 8px/2);
	top: calc(50% - 8px/2);
	width: 4px;
	height: 4px;
	background-color: #DDDDDD;
	border-radius: 100%;
}

#phobosOrbit {
	position: absolute;
	left: -6px;
	top: -6px;
	width: calc(100% + 12px);
	height: calc(100% + 12px);
	border-radius: 100%;
	animation: orbit 1200s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#phobos {
	position: relative;
	left: calc(100% - 8px/2);
	top: calc(50% - 8px/2);
	width: 4px;
	height: 4px;
	background-color: #FFDDDD;
	border-radius: 100%;
}

#deimosOrbit {
	position: absolute;
	left: -14px;
	top: -14px;
	width: calc(100% + 26px);
	height: calc(100% + 26px);
	border-radius: 100%;
	animation: orbit 2000s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#deimos {
	position: relative;
	left: calc(100% - 4px/2);
	top: calc(50% - 4px/2);
	width: 2px;
	height: 2px;
	background-color: #DDDDEE;
	border-radius: 100%;
}

#ioOrbit {
	position: absolute;
	left: -12px;
	top: -12px;
	width: calc(100% + 20px);
	height: calc(100% + 20px);
	border-radius: 100%;
	animation: orbit 2100s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#io {
	position: relative;
	left: calc(100% - 6px/2);
	top: calc(50% - 6px/2);
	width: 4px;
	height: 4px;
	background-color: #ffef68;
	border-radius: 100%;
}

#europaOrbit {
	position: absolute;
	left: -16px;
	top: -16px;
	width: calc(100% + 28px);
	height: calc(100% + 28px);
	border-radius: 100%;
	animation: orbit 2234s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#europa {
	position: relative;
	left: calc(100% - 6px/2);
	top: calc(50% - 6px/2);
	width: 2px;
	height: 2px;
	background-color: #efa97a;
	border-radius: 100%;
	border-width: 2px;
	border-color: #bc6637;
	border-style: solid;
}

#ganymedeOrbit {
	position: absolute;
	left: -22px;
	top: -22px;
	width: calc(100% + 40px);
	height: calc(100% + 40px);
	border-radius: 100%;
	animation: orbit 2312s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#ganymede {
	position: relative;
	left: calc(100% - 16px/2);
	top: calc(50% - 16px/2);
	width: 6px;
	height: 6px;
	background-color: #d1a777;
	border-radius: 100%;
	border-width: 2px;
	border-color: #4f3f2d;
	border-style: solid;
}

#callistoOrbit {
	position: absolute;
	left: -28px;
	top: -28px;
	width: calc(100% + 52px);
	height: calc(100% + 52px);
	border-radius: 100%;
	animation: orbit 2451s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#callisto {
	position: relative;
	left: calc(100% - 6px/2);
	top: calc(50% - 6px/2);
	width: 4px;
	height: 4px;
	background-color: #AB66ff;
	border-radius: 100%;
}


#ring {
	position: absolute;
	left: -9px;
	top: -9px;
	width: calc(100% + 17px);
	height: calc(100% + 17px);
	border-radius: 100%;
	border-color: #dbc4a4;
	border-width: 2px;
	border-style: solid;
	animation: orbit 3600s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#enceladusOrbit {
	position: absolute;
	left: -12px;
	top: -12px;
	width: calc(100% + 20px);
	height: calc(100% + 20px);
	border-radius: 100%;
	animation: orbit 2200s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#enceladus {
	position: relative;
	left: calc(100% - 6px/2);
	top: calc(50% - 6px/2);
	width: 4px;
	height: 4px;
	background-color: #BBBBBB;
	border-radius: 100%;
}

#titanOrbit {
	position: absolute;
	left: -17px;
	top: -17px;
	width: calc(100% + 33px);
	height: calc(100% + 33px);
	border-radius: 100%;
	animation: orbit 3300s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#titan {
	position: relative;
	left: calc(100% - 12px/2);
	top: calc(50% - 12px/2);
	width: 6px;
	height: 6px;
	background-color: #22DDAA;
	border-radius: 100%;
}

#mirandaOrbit {
	position: absolute;
	left: -8px;
	top: -8px;
	width: calc(100% + 12px);
	height: calc(100% + 12px);
	border-radius: 100%;
	animation: orbit 2000s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#miranda {
	position: relative;
	left: calc(100% - 4px/2);
	top: calc(50% - 4px/2);
	width: 2px;
	height: 2px;
	background-color: #BBBBBB;
	border-radius: 100%;
}

#arielOrbit {
	position: absolute;
	left: -16px;
	top: -16px;
	width: calc(100% + 28px);
	height: calc(100% + 28px);
	border-radius: 100%;
	animation: orbit 2300s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#ariel {
	position: relative;
	left: calc(100% - 8px/2);
	top: calc(50% - 8px/2);
	width: 4px;
	height: 4px;
	background-color: #ABB4EB;
	border-radius: 100%;
}

#umbrielOrbit {
	position: absolute;
	left: -12px;
	top: -12px;
	width: calc(100% + 22px);
	height: calc(100% + 22px);
	border-radius: 100%;
	animation: orbit 2500s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#umbriel {
	position: relative;
	left: calc(100% - 4px/2);
	top: calc(50% - 4px/2);
	width: 2px;
	height: 2px;
	background-color: #AABF7B;
	border-radius: 100%;
}

#titaniaOrbit {
	position: absolute;
	left: -32px;
	top: -32px;
	width: calc(100% + 60px);
	height: calc(100% + 60px);
	border-radius: 100%;
	animation: orbit 3000s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#titania {
	position: relative;
	left: calc(100% - 16px/2);
	top: calc(50% - 16px/2);
	width: 8px;
	height: 8px;
	background-color: #EEBBBB;
	border-radius: 100%;
}

#oberonOrbit {
	position: absolute;
	left: -40px;
	top: -40px;
	width: calc(100% + 76px);
	height: calc(100% + 76px);
	border-radius: 100%;
	animation: orbit 3500s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#oberon {
	position: relative;
	left: calc(100% - 12px/2);
	top: calc(50% - 12px/2);
	width: 6px;
	height: 6px;
	background-color: #DDBBAA;
	border-radius: 100%;
}

#tritonOrbit {
	position: absolute;
	left: -18px;
	top: -18px;
	width: calc(100% + 32px);
	height: calc(100% + 32px);
	border-radius: 100%;
	animation: orbit 3400s 0s infinite cubic-bezier(0.5,0.5,0.7,0.7) normal;
}

#triton {
	position: relative;
	left: calc(100% - 12px/2);
	top: calc(50% - 12px/2);
	width: 6px;
	height: 6px;
	background-color: #CCCCEE;
	border-radius: 100%;
}